/* Fonts */
@font-face {
  font-family: 'source-sans-pro';
  src: url('assets/fonts/source-sans-pro/SourceSansPro-Black') format('opentype'),
}
@font-face {
  font-family: 'spin-cycle';
  src: url('/assets/fonts/Spin-Cycle-OT/spincycle_ot') format('opentype');
}

html {
  overflow-x: hidden;
  margin: 0px;
  padding: 0px;
}
/* General styles */
body {
  font-family: 'source-sans-pro', sans-serif;
  color: #fff;
  box-sizing: border-box;
  background-size: fill;
  background-image: url(./assets/images/pic_1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: contain;
  background-color: #fff;
  text-indent: 0;
  min-height: 100vh
}

.container {
  width: 100%;
}

/* Header styles */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 0;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-img {
  margin-left: 20%;
    width: 167.02px;
    height: 29.46px;
}

.menu {
  display: flex;
  gap: 20px;
  font-size: 12pt;
  font-weight: bold;
}

.title {
  text-align: center;
}

.title-black {
  color:#071629;
  font-size: 32pt;
  font-weight: light;
}

.title-pink {
  color:#C271FF;
  font-size: 32pt;
  font-weight: bold;
}

.title-white {
  color:#fff;
  font-size: 32pt;
  font-weight: light;
}

.menu-item {
  cursor: pointer;
}

/* Hero section styles */
.hero {
  text-align: center;
  padding: 160px 0px 0px 0px;
}

.hero-title {
  font-size: 120pt;
  font-weight: bold;
  margin-bottom: 20px;
  letter-spacing: 2px;
}

.hero-options {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

.hero-option {
  cursor: pointer;
}

.register-button {
  padding: 16px 20px;
  border: 0 px solid #C271FF;
  border-radius: 25px;
  background: #C271FF;
  color: #fff;
  cursor: pointer;

  margin-bottom: 20px;
}

/* Pros section styles */
.pros {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: px;
  margin: 100px;
}

.pro {
  text-align: center;
}

.pro-avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin: 50px;
}

.pro-name {
  font-size: 20pt;
  font-weight: bold;
}

.pro-title {
  font-size: 16pt;
}

/* Testimonials section styles */
.testimonials {
  background: #C271FF;
  padding: 130px;
  margin: -20px;
  text-align: center;
}

.testimonial {
  display: flex;
  align-items: center;
  gap: 50px;
}

.testimonial-avatar {
  width: 200px;
  height: 200px;
  border-radius: 100px;
  margin-bottom: 10px;
  background-image: url("./assets/images/profile_5.jpg");
  background-size: 120%;
}

.testimonial-text {
  font-size: 22pt;
  text-align: left;
}

.testimonial-name {
  font-weight: bold;
}

.testimonial-title {
  font-style: italic;
}

/* Tutorials section styles */
.tutorials {
  margin: -20px;
  color:#071629;
  background-color: white;
  width: 100%;
}

.tutorial-section {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  background: white;
  padding: 64px;
}

.tutorial-card {
  background: white;
}

.tutorial-card-info {
  padding: 12px;
}

.image-container {
  width: 100%;
  height: 154px;
  background-size: contain;
  background-repeat: no-repeat;
}

.tutorial-thumbnail {
  width: 100%;
}

.play {
  display: flex;
  justify-content: center;
  align-items: center;
}

.play-button {
  width: 64px;
  height: 64px;
  padding-top: 15%;
}

.tutorial-author {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 16px;
}

.flex-row {
  display: flex;
  align-items: center;
  gap: 16px;
}

.flex-between {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.tutorial-title {
  font-size: 16pt;
  text-align: left;
  font-weight: bold;
  color: 071629;
}

.tutorial-description {
  font-size: 14pt;
  text-align: left;
  color: #071629;
  flex-wrap: wrap;
}

.instructor-avatar {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.instructor-name {
  font-size: 16pt;
  color: #C271FF;
  font-weight: bold;
}

.tutorial-rating {
  display: flex;
  gap: 5px;
}

.star {
  width: 15px;
  height: 15px;
}

.tutorial-duration {
  font-size: 16pt;
  color: #C271FF;
}

/* Membership section styles */
.membership-section {
  background: #071629;
  padding: 50px 0;
  text-align: center;
}

.test {
  border:solid red 2px;
}
